.footer__container {
  display: grid;
  gap: 2rem;
}

.footer__col p {
  margin-top: 1rem;
  color: var(--text-light);
}

.footer__col h4 {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  font-weight: 500;
  color: var(--text-light);
}

.footer__links a:hover {
  color: var(--primary-color);
}

.footer__socials {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  padding: 8px 12px;
  font-size: 1.25rem;
  color: var(--text-dark);
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.footer__socials a:hover {
  color: var(--white);
  background-color: var(--primary-color);
}

.footer__col h5 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-light);
}

.footer__discover {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__discover img {
  max-width: 120px;
  border-radius: 1rem;
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

@media (width > 540px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__col:nth-child(4) {
    grid-area: 2/1/3/2;
  }
}

@media (width > 768px) {
  .footer__container {
    grid-template-columns: repeat(5, 1fr);
  }

  .footer__col:nth-child(4) {
    grid-area: unset;
  }
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
}

.logo span {
  color: #ff6b6b;
}


.logo.mobile-logo {
  color: #000;
}

.logo.mobile-logo span {
  color: #000;
}

@media (max-width: 768px) {
  .logo {
    font-size: 1.5rem;
  }
}