nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    z-index: 9;
}

.nav__header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text-dark);
}

.nav__logo .logo {
    color: var(--white);
}


.nav__menu__btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav__links {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--text-dark);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}

.nav__links.open {
    transform: translateY(0);
}

.nav__links a {
    font-weight: 500;
    white-space: nowrap;
    color: var(--white);
}

.nav__links a:hover {
    color: var(--primary-color);
}

.signup-btn {
    padding: 0.5rem 1rem;
    border: 1px solid var(--white);
    border-radius: 5px;
}

@media (width > 768px) {
    nav {
        position: static;
        padding-block: 2rem 0;
        padding-inline: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav__header {
        padding: 0;
        background-color: transparent;
    }

    .nav__logo .logo {
        color: var(--text-dark);
    }

    .nav__menu__btn {
        display: none;
    }

    .nav__links {
        position: static;
        padding: 0;
        flex-direction: row;
        justify-content: flex-end;
        gap: 4rem;
        background-color: transparent;
        transform: none;
    }

    .nav__links a {
        color: var(--text-dark);
    }

    .signup-btn {
        border-color: var(--text-dark);
    }
}