.header__container {
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    overflow: hidden;
}

.header__image img {
    max-width: 550px;
    margin-inline: auto;
}

.header__content .section__subheader {
    font-size: 1.2rem;
    color: var(--primary-color);
}

.header__content h1 {
    margin-bottom: 1rem;
    font-size: 4.75rem;
    font-weight: 500;
    line-height: 5.5rem;
    color: var(--text-dark);
    text-align: center;
}

.header__content p {
    margin-bottom: 2rem;
    line-height: 2rem;
    color: var(--text-light);
    text-align: center;
}

.header__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.header__btns .btn {
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: #f1a501;
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgba(241, 165, 1, 0.5);
    cursor: pointer;
}

.header__btns a {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
    transition: 0.3s;
}

.header__btns a:hover {
    color: var(--text-dark);
}

.header__btns a span {
    padding: 6px 12px;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--primary-color);
    box-shadow: 2px 2px 20px rgba(224, 105, 81, 0.5);
    border-radius: 100%;
}

@media (width > 768px) {
    .header__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .header__image {
        grid-area: 1 / 2 / 2 / 3;
    }

    .header__content :is(.section__subheader, h1, p) {
        text-align: left;
    }

    .header__btns {
        justify-content: flex-start;
    }
}