.trip__container {
    display: grid;
    gap: 2rem;
    overflow: hidden;
}

.trip__image img {
    max-width: 425px;
    margin-inline: auto;
}

.trip__list {
    list-style: none;
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
}

.trip__list li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.trip__list li span {
    padding: 8px 15px;
    font-size: 1.75rem;
    color: var(--white);
    border-radius: 1rem;
}

.trip__list li:nth-child(1) span {
    background-color: #f0bb1f;
}

.trip__list li:nth-child(2) span {
    background-color: #f15a2b;
}

.trip__list li:nth-child(3) span {
    background-color: #006380;
}

.trip__list h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.trip__list p {
    color: var(--text-light);
}

@media (width > 768px) {
    .trip__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .trip__image {
        grid-area: 1/2/2/3;
    }

    .trip__content :is(.section__subheader, .section__header) {
        text-align: left;
    }
}