.destination__grid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr; 
}

.destination__card {
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
}

.destination__card.hovered {
  transform: rotateY(10deg) rotateX(5deg) scale(1.05);
}

.destination__details {
  padding: 1rem 1.5rem;
}

.destination__details > div {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.destination__details h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-light);
}

.destination__details p {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  color: var(--text-light);
}

.destination__details p span {
  font-size: 1.25rem;
  color: var(--text-dark);
  transform: rotateY(180deg);
}


@media (min-width: 540px) {
  .destination__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .destination__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .destination__grid {
    gap: 2rem;
  }
}
