@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

:root {
    --primary-color: #e06951;
    --text-dark: #111827;
    --text-light: #6b7280;
    --white: #ffffff;
    --max-width: 1200px;
}

.section_conatiner {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__subheader {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
    text-align: center;
}

.section__header {
    font-size: 3rem;
    font-weight: 500;
    line-height: 3.75rem;
    color: var(--text-dark);
    text-align: center;
}

.logo {
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--text-dark);
}

.logo span {
    color: var(--primary-color);
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;

    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

@media (width > 768px) {
    .section__container {
        padding: 5rem 1rem;
    }
}